/* Write your CSS here */
.body-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #475569;
  margin: 5px 0;
  min-height: 200px;
  text-align: center;
}
.left-navbar {
  background-color: #e2e8f0;
  padding: 20px;
}
.content {
  background-color: #f1f5f9;
  padding: 20px;
  flex-grow: 1;
}
.right-navbar {
  background-color: #e2e8f0;
  padding: 20px;
}
ul {
  list-style-type: none;
  padding: 0;
}
.img-place {
  border: solid 2px #475569;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

@media screen and (max-width: 768px) {
  ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .body-container {
    flex-direction: column;
  }
  .img-place-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
